@await Html.PartialAsync("Partial/AttendanceSearchForm")
<div id="attendanceGrid">

</div> 
<div id="addAttendanceModal" class="modal" tabindex="-1" aria-labelledby="addAttendance" aria-hidden="true"></div>