@using PAK_www.Models.Admin
@model EventSearch

<h1>Events</h1>
@await Html.PartialAsync("Partial/EventSearchForm.cshtml", Model?.Form)
@Html.ActionLink("Add Event", "EditEvent", "Admin")
<div id="eventGrid">
    @await Html.PartialAsync("Partial/EventGrid", Model)
</div>