@using PAK_www.Models.Admin
@model EventSearch 
@await Html.PartialAsync("Partial/EventSearchForm.cshtml") 
<h1>Events</h1>
<br />
@Html.ActionLink("Add Event", "EditEvent", "Admin")
<table>
    <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Actions</th>
    </tr>
    @if ((Model?.Events?.Count() ?? 0) > 0)
    {
        @foreach(var e in Model.Events)
        {
            <tr>
                <td>
                    @e.Title
                </td>
                <td>
                    @e.Date.ToString("yyyy-MM-dd")
                </td>
                <td>
                    (goto)(attendance)(edit)(delete)
                </td>
            </tr>
        }
    }
</table>