@using PAK_www.Models.Admin
@model PersonSearch

<h1>People</h1>
@await Html.PartialAsync("Partial/PersonSearchForm.cshtml", Model?.Form)
<a asp-action="EditPerson" asp-controller="Admin"
   data-ajax="true"
   data-ajax-method="GET"
   data-ajax-mode="replace"
   data-ajax-update="#editPersonModal"
   data-ajax-success="$('#editPersonModal').appendTo('body').html(data).modal('show');">
    Add Person
</a>
<div id="personGrid">
    @await Html.PartialAsync("Partial/PersonGrid", Model)
</div>
<div id="editPersonModal" class="modal" tabindex="-1" aria-labelledby="editPerson" aria-hidden="true"></div>
<div id="personNotesModal" class="modal" tabindex="-1" aria-labelledby="personNotes" aria-hidden="true"></div>