@using PAK_www.Models.Admin
@model EventSearch

<table>
    <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Actions</th>
    </tr>
    @if ((Model?.Events?.Count() ?? 0) > 0)
    {
        @foreach (var e in Model.Events)
        {
            <tr>
                <td>
                    @e.Title
                </td>
                <td>
                    @e.Date.ToString("yyyy-MM-dd")
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditEvent", "Admin", new { Id = e.EventId })
                    <a asp-action="DeleteEvent" asp-controller="Admin" asp-route-Id="@e.EventId"
                       onclick = "return confirm('Are you sure you wish to delete this event?');"
                       data-ajax="true"
                       data-ajax-success="$('#eventSearchForm').submit();">
                        Delete
                    </a>
                </td>
            </tr>
        }
    }
</table>